.form {
    background: #FFFFFF;
    padding: 20px 40px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;

    margin: 0 auto;
}

.error {
    animation: error 1s alternate-reverse;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@keyframes error {
    0% {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateX(0%);
    }

    10% {
        box-shadow: 0px 8px 8px rgba(153, 67, 67, 0.25);
        transform: translateX(0.2%);
    }

    20% {
        box-shadow: 0px 8px 8px rgba(255, 0, 0, 0.25);
        transform: translateX(-0.2%);
    }

    30% {
        box-shadow: 0px 8px 8px rgba(255, 0, 0, 0.25);
        transform: translateX(0.2%);
    }

    40% {
        box-shadow: 0px 8px 8px rgba(255, 0, 0, 0.25);
        transform: translateX(-0.2%);
    }

    50% {
        box-shadow: 0px 8px 8px rgba(255, 0, 0, 0.25);
        transform: translateX(0.2%);
    }

    60% {
        box-shadow: 0px 8px 8px rgba(255, 0, 0, 0.25);
        transform: translateX(-0.2%);
    }

    70% {
        box-shadow: 0px 8px 8px rgba(255, 0, 0, 0.25);
        transform: translateX(0.2%);
    }

    80% {
        box-shadow: 0px 8px 8px rgba(255, 0, 0, 0.25);
        transform: translateX(-0.2%);
    }

    90% {
        box-shadow: 0px 8px 8px rgba(153, 67, 67, 0.25);
        transform: translateX(0.2%);
    }

    100% {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateX(0%);
    }
}