.sb-container .sb-sidebar {
    height: 100vh; 
    width: 250px;   
    position: fixed;    
    z-index: 1000;

    transition:  all 0.4s ease;
}

.sb-container .sb-sidebar button.view {
    top: 5px;
    right: -40px;
    position: absolute;
    
    border: none;
    outline: none;
    background: none;
    color: #5E5E5E;

    cursor: pointer;
}

.sb-hidden {
    transform: translateX(-100%);
}

.sb-visible {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.25);
    transform: translateX(0%);    
}

.sb-container .sb-sidebar .title {
    margin-top: 5px;
}

.sb-container .sb-sidebar .title h1 {
    text-align: center;
}

.sb-container .sb-sidebar .sb-options-title {
    margin: 20px 0 20px 10px;
    font-weight: 300;
}

.sb-container .sb-sidebar .sb-options-title h2 {
    font-weight: 300;
}

.sb-container .sb-sidebar .sb-options .sb-option {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.sb-container .sb-sidebar .sb-options .sb-option button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;

    font-size: .9em;
    text-align: left;
    padding-left: 15px;
    color: #FFF;
    background-color: inherit;
}

.sb-container .sb-sidebar .sb-options button:hover {
    background: rgba(000, 000, 000, 0.15);
    cursor: pointer;
}

.sb-selected {
    border-left: 10px solid #FE6D6D;
    background: rgba(000, 000, 000, 0.15);

    transition:  all 0.4s ease;
}

.sb-not-selected {
    border-left: 0px solid #FE6D6D;
    background: none;
    transition:  all 0.4s ease;    
}

.sb-container .sb-content {
    overflow: auto;
}

.sb-container .sb-content .sb-navbar {
    width: 100%;
    padding: 13px 20px;
    position: fixed;

    background-color: #FFF;    
    text-align: right;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10);
}