div.login-container {
    height: 100vh;

    background: url('../../assets/svg/left-background-login.svg') no-repeat left center fixed;
    background-size: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

div.login-container div.left-content {
    margin-left: 2%;
}

div.login-container div.left-content p {
    max-width: 90%;
    margin-bottom: 20px;
}

div.login-container div.right-content {
    text-align: center;
}

@media screen and (max-width: 990px) {
    div.login-container {
        background-size: cover;
        padding: 0 20px;

        align-items: flex-start;
    }

    div.left-content {
        width: 0;
        overflow: hidden;
    }

    div.right-content {
        width: 100%;
    }

    div.right-content .logo {
        flex-direction: column;
    }
}