@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form .input-section {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

.form .input-section input {
    width: 300px;
    height: 100%;
    color: #5E5E5E;
    padding-top: 20px;
    border: none;
    font-size: 16px;
    outline: none;
}

.form .input-section label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 300px;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #5E5E5E;
}

.form .input-section label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #6C63FF;
    transform: translateX(-100%);
    transition:  all 0.3s ease;
}

.form .input-section label .content-label {
    position: absolute;
    bottom: 5px;
    left: 0px;
    color: #5E5E5E;
    transition: all 0.3s ease;
}

.form .input-section input:focus + .label-input .content-label,
.form .input-section input:valid + .label-input .content-label {
    transform: translateY(-100%);
    font-size: 14px;
    color: #6C63FF;
}

.form .input-section input:focus + .label-input::after,
.form .input-section input:valid + .label-input::after {
    transform: translateX(0%);
}

.form button.send {
    height: 60px;
    width: 165px;
    border: none;
    border-radius: 15px;
    background-color: #6C63FF;
    box-shadow: 0px 12px 0px #5F55FF;
    outline: none;

    color: #FFF;
    font-size: 25px;
    font-weight: 300;

    transition: all 0.3s ease;
}

.form button.send:hover {
    background-color: #6860ff;
    cursor: pointer;
}

.form button.send:focus {
    transform: translateY(12px);
    box-shadow: 0px 0px 0px #5F55FF;
}